<h2 style="color: rgb(8, 26, 61); margin-left: 470px;"  >Card Registration</h2>
<form class="table" style="background-color: rgb(171, 170, 170); margin-left: 400px; padding: 40px; border: 10px solid; position: absolute; "  method="post">{%csrf_token%}
    {{form.as_p}}
<button  style="background-color:rgb(148, 151, 239); border:none; margin-left: 100px;  padding: 10px; border-radius: 5px;"  type="submit" class="Save btn btn_default"  type="submit" class="Save btn btn_default" >save</button>


</form>