
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reward List</title>
</head>
<body style="background-color: pink;"   >
    <table class="table" style="height: 30rem;margin: 40px; width: 60%; position: fixed; margin-left: 20%; margin-top: 10%; border: 10px solid rgb(251, 250, 250); border-width: 30px; "  >
      
        <td style="font-size: 30px; text-align: center; "   >Name</td>
        <td style="font-size: 30px; text-align: center; "   > Receipt</td>
        <td style="font-size: 30px; text-align: center; "   > Transaction</td>
    </th>
        {%for reward in rewards%}
        <th>
            <tr>
                <td style="color: white; background-color: black; text-align: center; "   >{{reward.name}}</td>
                <td style="color: white; background-color: black; text-align: center; "   >{{reward.receipt}}</td>
                <td style="color: white; background-color: black; text-align: center; "   >{{reward.transaction}}</td>
            </tr>
            {%endfor%}
        </th>
    </table>
</body>
</html>